

.contenedor{
    margin: 0 auto;
    max-width: 1200px;
    width: 95%;
}

.imagen-formulario{
    background-image: url('./ima.jpeg');
    background-position: center center;
    background-size: cover;
    height: 150px;
    flex: 0 0 calc(60%);
    position: relative;
    
}
.imagen-formulario::before{
   content: '';
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
  
   
}

@media(min-width:768px){
    .imagen-formulario{
        height: auto;
        background-position: right;
    }

}
@media(min-width:1200px){
    .imagen-formulario{
        background-position: center;
    }
}

@media(min-width:768px){
    .contenedor-formulario{
        display: flex;
    }
}

.formulario{
    padding: 50px;
    background-color: var(--azul);
}
.texto-formulario h2, .input label, .password-olvidada a, .texto-formulario p{
    color: var(--blanco);
}
.texto-formulario h2{
    font-size: 40px;
    text-align: center;
    font-weight: bold !important;
}
.texto-formulario p{
    font-size: 22px;
    text-align: center;
    
}
.input label{
    display: block;
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
    
    
}
.password-olvidada a{
    display: inline-block;
    margin-top: 20px;
    font-size: 22px;
}
.input input{
    width: 100%;
    padding: 10px 16px;
    border-radius: 5px;
    outline: none;
    color: var(--blanco);
}
.input input[type="submit"]{
    background-color: #10a257;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    transition: background-color .3s ease-in-out;
}
.input input[type="submit"]:hover{
  
    cursor: pointer;
    background-color: #10a2577d;
    color: #060606;
}

.input input[type="password"]{
    background-color: #ede8e8; 
    border: none; 
}

.input input[type="text"]{
    background-color: #ede8e8;
    border: none;
}