.w-100 {
    width: 100% !important; }
.ftco-section {
    padding: 7em 0; }


.justify-content-center {
      -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
      justify-content: center !important; 
}
.text-center {
    text-align: center !important; }
    .text-wrap {
        white-space: normal !important; }
    .text-wrap {
        background: #ffff;
        background: -moz-linear-gradient(-45deg, #4cb75f 0%, #59d092 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, #ffff), color-stop(100%, #59d092));
        background: -webkit-linear-gradient(-45deg, #4cb75f 0%, #59d092 100%);
        background: -o-linear-gradient(-45deg, #4cb75f 0%, #59d092 100%);
        background: -ms-linear-gradient(-45deg, #4cb75f 0%, #59d092 100%);
        background: -webkit-linear-gradient(315deg, #4cb75f 0%, #59d092 100%);
        background: -o-linear-gradient(315deg, #4cb75f 0%, #59d092 100%);
        background: linear-gradient(135deg, #4cb75f 0%, #59d092 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff', endColorstr='#59d092', GradientType=1 );
        color: #fff; }
 .text-wrap .text h2 {
     font-weight: 900;
     color: #fff;
     }
.order-md-last {
      -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
         order: 13;
 }
 .wrap {
    width: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24); }
  
  .text-wrap, .login-wrap {
    width: 50%; }
    @media (max-width: 991.98px) {
 .text-wrap, .login-wrap {
    width: 100%; } }
.d-flex {
     display: -webkit-box !important;
     display: -ms-flexbox !important;
     display: flex !important; }
.login-wrap h3 {
      font-weight: 300; }
.align-items-center {
     -webkit-box-align: center !important;
     -ms-flex-align: center !important;
     align-items: center !important; }
.img-login{
    margin: 0 auto;
    width: 120px;
}

input[type="text"],
input[type="number"]{
  width: 100%;
  padding: 12px 20px;
  margin: 2px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #333;
  font-size: 16px;
}
    